.input-repo {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 2rem;
}

.input-data {
    text-align: center;
    width: 100%;
    max-width: 640px;
    cursor: pointer;
}