.card-container {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.card-field {
    text-align: center;
    width: 100%;
    max-width: 640px;
    cursor: pointer;
}